/* -------------------------Секция footer--------------------- */

.footer .container {
  display: flex;
}
.container-address {
  margin-right: 70px;
}
.footer {
  background-color: var(--footer-bg-color);
  font-size: 14px;
  line-height: 1.7;
  padding: 60px 0px;
}

.logo-footer {
  margin-left: 0px;
  margin-bottom: 20px;
  /*outline: 1px solid #f11014;*/
}

.footer .logo-span {
  color: var(--footer-logo-span-color);
}

.address-street {
  margin-bottom: 9px;
  /*outline: 1px solid #f11014;*/
}
.mail {
  margin-bottom: 9px;
  /*outline: 1px solid #f11014;*/
}

.address-list .street {
  color: var(--address-text-color);
}
.address-list .link {
  color: var(--footer-cont-text-color);
}
/* Добавляем ссылкам наведение и фокус */
.address-list .link {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}
.link,
.street {
  text-decoration: none; /* Убираем нижнее подчеркивание ссылок*/
}

.address-list {
  font-style: normal; /* Убираем  курсив в ссылках footer */
}

/*------Создаем социальные ссылки------*/

/*------Задаем текст заголовку ------*/

.footer-social {
  margin-right: 93px;
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
  padding-top: 9px;
}

.footer-social-list {
  display: flex;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--accent-color-icon);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
/*------Делаем hover для Соц сетей------*/

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

/*-----Делаем отступ через селектор соседа-----*/
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

/*-----Подписка на рассылку------*/
.subscribe {
  width: 100%;
}

.subscribe-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);

  padding-top: 10px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  color: var(--hero-text-color);
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  cursor: pointer;
  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.subscribe-input:focus,
.subscribe-input:focus::placeholder {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.subscribe-send {
  position: relative;
  display: flex;

  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: 12px;

  background-color: var(--btn-accent-color);
  border: none;
  border-radius: 4px;
  /*outline: none;*/

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
}

.subscribe-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  margin-left: 10px;
}
/*.subscribe-send:focus {
    
  }*/
