/*-------------------- Страница портфолио -----------------*/
/* Убираем точки в списках */
.button-list {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
}

.project {
  list-style: none;
}

/* Кнопки фильтра ,задаем цвет и свойства */
.btn-filter {
  font-family: inherit; /*Наследование шрифта через родителя */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--btn-primary-color);

  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  /* outline: 1px solid #f11014;*/
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--btn-accent-color);
  color: var(--btn-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: auto;
}

.button-item:first-child {
  margin-left: auto;
}

/* Задаем цвет тексту */

.project .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
  /*outline: 1px solid #f11014;*/
}

.project .text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
  /*outline: 1px solid #f11014;*/
}

/*Делаем рамку внизу карточки портфолио*/
.border {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-portfolio);
  border-left: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
  width: 370px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  /*gap: 30px;*/
}

.project-item {
  /*flex-basis: calc((100% - 90px) / 3);*/

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}
.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);

  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}

/* Делаем тень и вызываем оверлей с 
  текстом  при hover  */

.project-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-item:hover .description {
  transform: translateY(0);
}
