/*-------------------- Страница портфолио -----------------*/

/*Делаем рамку внизу карточки портфолио*/

.border {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-portfolio);
  border-left: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
  width: 100%;
  /*width: 370px;*/
}

.project {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  &-item {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
    }

    transition-property: box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    &:not(:last-child) {
      @media screen and (max-width: 767.9px) {
        margin-bottom: 30px;
      }
    }
  }

  &-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &-item:hover .description {
    transform: translateY(0);
  }
  & .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
  }
  & .text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
  }
}

/*.border {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-portfolio);
  border-left: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
  width: 370px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  &-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    transition-property: box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  &-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &-item:hover .description {
    transform: translateY(0);
  }
  & .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
  }
  & .text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
  }
}*/
