/*--------------Секция постоянные клиенты ------------*/
.сlients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 30px;
}

.сlients-list {
  display: flex;

  @media screen and (max-width: 767.9px) {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
  }

  /*@media screen and (max-width: 1199.9px) {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }*/
}

.сlients-item {
  @media screen and (max-width: 767.9px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1199.9px) {
    width: 100%;
    & + .сlients-item {
      margin-left: 30px;
    }
  }
}

.сlients-link {
  display: flex;
  /*width: 170px;*/
  width: 100%;
  height: 92px;

  border: 1px solid var(--color-social-client-icon);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--color-social-client-icon);

  transition-property: border-color, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.сlients-icon {
  color: var(--color-social-client-icon);
}

/*.сlients-list {
  display: flex;
}
.сlients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 50px;
}
.сlients-link {
  display: flex;
  width: 170px;
  height: 92px;

  border: 1px solid var(--color-social-client-icon);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--color-social-client-icon);

  transition-property: border-color, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.сlients-icon {
  color: var(--color-social-client-icon);
}

.сlients-item + .сlients-item {
  margin-left: 30px;
}*/
