/* Задаем цвет логотипа */
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none; /* Убираем нижнее подчеркивание ссылок*/
}
.header__logo {
  margin-right: 93px;
}

.logo__text--black {
  color: var(--title-text-color);
}

.logo-footer {
  margin-left: 0px;
  margin-bottom: 20px;
  /*outline: 1px solid #f11014;*/
}

.footer .logo-span {
  color: var(--footer-logo-span-color);
}
