/*------Создаем социальные ссылки команды------*/
.team-social__list {
  display: flex;
  justify-content: center;
}
.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-social-client-icon);

  transition-property: background-color, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--accent-color-icon);
  }
}

/*-----Делаем отступ через селектор соседа-----*/
.team-social__item + .team-social__item {
  margin-left: 10px;
}

/*------Создаем социальные ссылки footer------*/

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.9px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 93px;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--accent-color-icon);

  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

/*-----Делаем отступ через селектор соседа-----*/
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
